<nav class="navbar">
  <div class="container-fluid nav-container">
    <div class="navbar-header shift-left">
      <a href="{% url 'landing' %}">Title</a>
    </div>
    <ul class="nav navbar-nav">
      <!-- a href="#">REOURCE</a -->
      {% if user.is_authenticated %}
      <li><a href="{% url 'users:dashboard' user.id %}">DASHBOARD</a></li>
      {% endif %}
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>

      <li class="social-media">
        <a href="#">Social Media Links</a>
      </li>
      <br>
    </ul>
    {% if user.is_authenticated %}
      <form class="logout-link" action="{% url 'users:logout' %}" method="post">
        {% csrf_token %}
        <button class="btn btn-danger navbar-btn" type="submit">Logout</button>
      </form>
    {% else %}
      <ul class="nav navbar-nav">
        <li><a href="{% url 'users:login' %}">Login</a></li>
        <li><a href="{% url 'users:signup' %}">Signup</a></li>
      </ul>
    {% endif %}


  </div>
</nav>
