{% extends 'index.html' %}

{% block content %}
<div class="wrapper">
  <h1> Log in </h1>
  <form class="login-form" action="{% url 'users:login' %}" method="post">
    {% csrf_token %}
    {{ form }}
    {% if request.GET.next %}
      <input type="hidden" name="next" value="{{ request.GET.next }}">
    {% endif %}
    <br>
    <br>
    <input class="login-button" type="submit" name="" value="login">
  </form>
  <a href="{% url 'users:password_reset' %}">Forgot Password</a>
</div>
{% endblock %}
